.DS_Store
Thumbs.db
.idea/
.vscode/
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

/rad/*.aux
/rad/*.blg
/rad/*.idx
/rad/*.lof
/rad/*.log
/rad/*.lot
/rad/*.nlo
/rad/*.nls
/rad/*.out
/rad/*.synctex.gz
/rad/*.toc
/rad/*.fdb_latexmk
/rad/*.fls

